@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto+Condensed');
/* font-family: 'Roboto Condensed', sans-serif;
font-family: 'Cabin', sans-serif;*/
html,
body {
  margin: 0;
  padding: 0;
  background-color: #7ebfe7;
}
#root {
  position: relative;
  z-index: 1;
  background-color: white;
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.4), -30px 0px 40px rgba(0, 0, 0, 0.4);
}
#new-releases {
  text-align: center;
}
#new-releases h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3rem;
}
#release-one {
  opacity: 1;
}
.release {
  opacity: 0;
  border: 1px solid black;
  margin: 64px 10%;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.3), -30px 0px 40px rgba(0, 0, 0, 0.3);
}
.release a {
  text-decoration: none;
  color: #000000;
}
.release a h2 {
  padding-top: 16px;
  font-size: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
}
.release a h3 {
  font-size: 1.25rem;
  font-family: 'Cabin', sans-serif;
}
.cover-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 32px;
}
.cover-container img {
  width: 100%;
  padding: 32px;
}
#contact {
  margin-top: 100px;
  background-color: #000000;
  padding: 50px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}
#contact h1 {
  margin-bottom: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}
@media (min-width: 900px) {
  .release {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media (max-width: 500px) {
  .release {
    margin-left: 5%;
    margin-right: 5%;
  }
}
