@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto+Condensed');
/* font-family: 'Roboto Condensed', sans-serif;
font-family: 'Cabin', sans-serif;*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}
.main-nav {
  height: 100vh;
  list-style: none;
  position: absolute;
  z-index: -1;
  /* background-color: black; */
  width: 100%;
  opacity: 0;
}
#navbar {
  font-size: 18px;
  padding-bottom: 10px;
}
.hidden {
  display: none;
  visibility: hidden;
}

.nav-links,
.nav-logo {
  text-decoration: none;
  color: #000000;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
  color: white;
}
.main-nav a {
  color: white;
}
#nav-logo {
  display: inline-block;
  width: 60px;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}
@media screen and (max-width: 767px) {
  .navbar {
    padding-bottom: 0;
  }
  .main-nav li {
    font-size: 1.5rem;
    margin: 15% 0;
  }
  .main-nav a {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .nav-links {
    margin: 0;
    margin-left: 40px;
  }
  .main-nav li {
    font-size: 3rem;
    margin: 15% 0;
  }
  .main-nav a {
    font-size: 3rem;
  }
  #nav-logo {
    margin-top: 0;
  }
  .nav-logo:hover,
  .nav-links:hover {
    color: #778899;
  }
}
/*Drawer*/

/* BURGER */
/**
   Coded by /u/j0be in scss.
   See scss source here -> https://codepen.io/j0be/pen/MKRVyN
*/

* {
  transition: 0.25s ease-in-out;
  box-sizing: border-box;
}
span {
  display: block;
  background: #000000;
  border-radius: 2px;
}
#toggle-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px;
}
#navbar-toggle {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  position: relative;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}
#navbar-toggle:hover {
  /* background: blue; */
}
#navbar-toggle #hamburger {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
}
#navbar-toggle #hamburger span {
  width: 30px;
  height: 4px;
  margin: 8px 0;
}
#navbar-toggle #hamburger span:nth-child(1) {
  transition-delay: 0.5s;
}
#navbar-toggle #hamburger span:nth-child(2) {
  transition-delay: 0.625s;
}
#navbar-toggle #hamburger span:nth-child(3) {
  transition-delay: 0.75s;
}
#navbar-toggle #cross {
  position: absolute;
  top: -5px;
  left: -5px;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
  z-index: 1000;
}
#navbar-toggle #cross span:nth-child(1) {
  height: 0%;
  width: 4px;
  position: absolute;
  top: 25%;
  left: 24px;
  transition-delay: 0s;
}
#navbar-toggle #cross span:nth-child(2) {
  width: 0%;
  height: 4px;
  position: absolute;
  left: 25%;
  top: 24px;
  transition-delay: 0.25s;
}
#navbar-toggle.open #hamburger span {
  width: 0%;
}
#navbar-toggle.open #hamburger span:nth-child(1) {
  transition-delay: 0s;
}
#navbar-toggle.open #hamburger span:nth-child(2) {
  transition-delay: 0.125s;
}
#navbar-toggle.open #hamburger span:nth-child(3) {
  transition-delay: 0.25s;
}
#navbar-toggle.open #cross span:nth-child(1) {
  height: 80%;
  transition-delay: 0.625s;
}
#navbar-toggle.open #cross span:nth-child(2) {
  width: 80%;
  transition-delay: 0.375s;
}

/* Nav underline animation */
/* Side Drawer Underline Animation */
.nav-links,
.nav-links:visited {
  text-decoration: none;
  position: relative;
  color: white;
}
.nav-links:after,
.nav-links:visited:after {
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: white;
  transition: 0.2s;
}
.nav-links:hover:after,
.nav-links:visited:hover:after {
  width: 100%;
}
